			<div class="space-separator-1"></div>
			<hr class="dash" />


			<div class="col-md-9">
				<div class="dropdown-head-1">Filter by:</div>
				<form method="POST">
					<select name='filter-by' onchange='get_filter_by()';>
					  <option value="gender" selected>dieases</option>
					  <option value="age">age</option>
					  <option value="profession">gender</option>
					</select>
				</form>
			</div>
	
		<div class="space-separator-1	"></div>
<!-- 		<div class="row">
        		<div class="col-dp-1 ">
   				<div class="color-square-orange-light">&nbsp;&nbsp;baseline</div> 
			</div>
        		<div class="col-dp-1 ">
   				<div class="color-square-red">&nbsp;&nbsp;&nbsp;counterfactual</div> 
			</div>
		</div>
 -->		
