	<div class="col-md-12">

		<table class="table table-striped col-md-6">  
	        <thead>  
	          <tr>  
	            <th></th>  
	            <th>Size</th>  
	          </tr>  
	        </thead>  
	        <tbody>  
	          <tr>  
	            <td>Total population</td>  
	            <td>{{total_population}}</td>  
	          </tr>  
	          <tr>  
	            <td>Total baseline deaths</td>  
	            <td>{{total_death_baseline}}</td>  
	          </tr>  
	          <tr>  
	            <td>Total deaths averted</td>  
	            <td class='highlight-numbers'>{{total_death_averted}}</td>  
	          </tr>  
	        </tbody>  
	      </table>

	 </div>