      <div class="navbar navbar-default">

        <!-- <div class="container"> -->
<!--           <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/prime/">Prime</a>
          </div> -->
          <div class="navbar-collapse collapse navbar-menu">
            <ul class="nav navbar-nav">
              <!-- Add class="active" (JQuery) to identify which page user is on  -->
              <li><a href="/prime/">Home</a></li>
              <li><a href="/news/">News</a></li>
              <li><a href="/publications/">Publications</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">About PRIME</li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Group</a></li>
                  <li><a href="#">Collaborators</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Articles</li>
                  <li><a href="#">Publications</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Case Studies</a></li>
                </ul>
              </li>
              <!-- Show this only when the user is logged in? -->
              <li><a href="./">MyPRIME</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Help <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/contact/">Contact</a></li>
                  <li><a href="/faq/">FAQ</a></li>
                </ul>                
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        <!-- </div> -->
      </div>
